<%= form_for(@statement) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :justify %><br>
    <%= f.text_area :justify %>
  </div>
  <div class="field">
    <%= f.label :numberskm %><br>
    <%= f.number_field :numberskm %>
  </div>
  <div class="field">
    <%= f.label :coefficienttaxes %><br>
    <%= f.number_field :coefficienttaxes %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :shifting %><br>
    <%= f.text_field :shifting %>
  </div>
  <div class="field">
    <%= f.label :departure %><br>
    <%= f.text_field :departure %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
