<h1>Editing Statement</h1>
<%= form_for @user, url: users_path, html: { multipart: true } do |form| %>
  <%= form.file_field :document %>
<% end %>
<%= render 'form' %>

<%= link_to 'Show', @statement %> |
<%= link_to 'Back', statements_path %>
