<p id="notice"><%= notice %></p>

<h1>Listing Statements</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Justify</th>
      <th>Numberskm</th>
      <th>Coefficienttaxes</th>
      <th>Path</th>
      <th>Shifting</th>
      <th>Departure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.date %></td>
        <td><%= statement.justify %></td>
        <td><%= statement.numberskm %></td>
        <td><%= statement.coefficienttaxes %></td>
        <td><%= statement.path %></td>
        <td><%= statement.shifting %></td>
        <td><%= statement.departure %></td>
        <td><%= link_to 'Show', statement %></td>
        <td><%= link_to 'Edit', edit_statement_path(statement) %></td>
        <td><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statement', new_statement_path %>
