<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @statement.date %>
</p>

<p>
  <strong>Justify:</strong>
  <%= @statement.justify %>
</p>

<p>
  <strong>Numberskm:</strong>
  <%= @statement.numberskm %>
</p>

<p>
  <strong>Coefficienttaxes:</strong>
  <%= @statement.coefficienttaxes %>
</p>

<p>
  <strong>Path:</strong>
  <%= @statement.path %>
</p>

<p>
  <strong>Shifting:</strong>
  <%= @statement.shifting %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @statement.departure %>
</p>

<p>
 <strong>Document:</strong>
 <%= f.file_field@statement.document.url(:medium) %>
</p>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
